<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="rascrasca.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <rascrasca.Properties.Settings>
            <setting name="numberset" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="colornameset" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="numbercolorset" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="onlyusecolorset" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="sizenumber" serializeAs="String">
                <value>7</value>
            </setting>
        </rascrasca.Properties.Settings>
    </userSettings>
</configuration>
